# London Transport Analysis Project

Augustinus Joseph

2023-10-23

## Project Goal

This analysis seeks to examine trends in rides for London's bike share program.

### Addressing Accessibility, licensing, privacy, and security

These licence terms and conditions apply to TfL's free transport data service and are based on version 2.0 of the Open Government Licence with specific amendments for Transport for London (the "Licence").  TfL may at any time revise this Licence without notice. It is up to you ("You") to regularly review the Licence, which will be available on this website, in case there are any changes. Your continued use of the transport data feeds You have opted to receive ("Information") after a change has been made to the Licence will be treated as Your acceptance of that change.

Using Information under this Licence
TfL grants You a worldwide, royalty-free, perpetual, non-exclusive Licence to use the Information subject to the conditions below (as varied from time to time).

This Licence does not affect Your freedom under fair dealing or fair use or any other copyright or database right exceptions and limitations.

This Licence shall apply from the date of registration and shall continue for the period the Information is provided to You or You breach the Licence.  

Rights
You are free to:

Copy, publish, distribute and transmit the Information
Adapt the Information and
Exploit the Information commercially and non-commercially for example, by combining it with other Information, or by including it in Your own product or application
Requirements
You must, where You do any of the above:

Acknowledge TfL as the source of the Information by including the following attribution statement 'Powered by TfL Open Data'
Acknowledge that this Information contains Ordnance Survey derived data by including the following attribution statement: 'Contains OS data © Crown copyright and database rights 2016' and Geomni UK Map data © and database rights [2019]
Ensure our intellectual property rights, including all logos, design rights, patents and trademarks, are protected by following our design and branding guidelines
Limit traffic requests up to a maximum of 300 calls per minute per data feed. TfL reserves the right to throttle or limit access to feeds when it is believed the overall service is being degraded by excessive use and
Ensure the information You provide on registration is accurate 
These are important conditions of this Licence and if You fail to comply with them the rights granted to You under this Licence, or any similar licence granted by TfL, will end automatically.

Exemptions
This Licence does not:

Transfer any intellectual property rights in the Information to You or any third party
Include personal data in the Information
Provide any rights to use the Information after this Licence has ended 
Provide any rights to use any other intellectual property rights, including patents, trade marks, and design rights or permit You to:
Use data from the Oyster, Congestion Charging and Santander Cycles websites to populate or update any other software or database or
Use any automated system, software or process to extract content and/or data, including trawling, data mining and screen scraping
in relation to the Oyster, Congestion Charging and Santander Cycles websites, except where expressly permitted under a written licence agreement with TfL.
These are important conditions of this Licence and, if You fail to comply with them, the rights granted to You under this Licence, or any similar licence granted by TfL, will end automatically.

### Downloading the Data

To perform the analysis, I accessed Kaggle programmatically. However, you can find the dataset [here](https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset).

## Preparing and Inspecting the Data

In [1]:
# Do any necessary installs of libraries and packages

# !pip install pandas-summary
# !pip install pandas
# !pip install zipfile
# !pip install kaggle
# !pip install openpyxl

In [2]:
# Import Pandas library
import pandas as pd

# Import pandas summary package
from pandas_summary import DataFrameSummary

# Import zipfile library (used for file extraction)
import zipfile

# Import kaggle library (used for programmatical download of data)
import kaggle

In [3]:
# Download the dataset from kaggle using API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
# Extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [5]:
# Read in the csv file as a pandas dataframe
lon_bikes = pd.read_csv("london_merged.csv")

In [6]:
lon_bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
lon_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
lon_bikes.shape

(17414, 10)

In [9]:
lon_bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [10]:
# Count the unique values in the weather_code column
lon_bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [11]:
# Count the unique values in the season column
lon_bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [12]:
# Count the unique values in the holiday column
lon_bikes.is_holiday.value_counts()

is_holiday
0.0    17030
1.0      384
Name: count, dtype: int64

In [13]:
# Count the unique values in the weekend column
lon_bikes.is_weekend.value_counts()

is_weekend
0.0    12444
1.0     4970
Name: count, dtype: int64

## Transforming and Organizing the Data

In [14]:
# Speficying the column names that I want to use
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
   'is_holiday':'holiday',
    'is_weekend':'weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
lon_bikes.rename(new_cols_dict, axis=1, inplace=True)

In [15]:
# Changing humidity values to percentage for accurate description (i.e. values between 0 and 1).
lon_bikes.humidity = lon_bikes.humidity / 100

In [16]:
# Checking our dataframe to see if renaming columns has worked
lon_bikes

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2.0,0.0,0.0,3.0

In [17]:
lon_bikes.info

<bound method DataFrame.info of                       time  count  temp_real_C  temp_feels_like_C  humidity  \
0      2015-01-04 00:00:00    182          3.0                2.0     0.930
1      2015-01-04 01:00:00    138          3.0                2.5     0.930
2      2015-01-04 02:00:00    134          2.5                2.5     0.965
3      2015-01-04 03:00:00     72          2.0                2.0     1.000
4      2015-01-04 04:00:00     47          2.0                0.0     0.930
...                    ...    ...          ...                ...       ...
17409  2017-01-03 19:00:00   1042          5.0                1.0     0.810
17410  2017-01-03 20:00:00    541          5.0                1.0     0.810
17411  2017-01-03 21:00:00    337          5.5                1.5     0.785
17412  2017-01-03 22:00:00    224          5.5                1.5     0.760
17413  2017-01-03 23:00:00    139          5.0                1.0     0.760

       wind_speed_kph  weather  holiday  weekend  season
0                 6.0      3.0      0.0      1.0     3.0
1                 5.0      1.0      0.0      1.0     3.0
2                 0.0      1.0      0.0      1.0     3.0
3                 0.0      1.0      0.0      1.0     3.0
4                 6.5      1.0      0.0      1.0     3.0
...               ...      ...      ...      ...     ...
17409            19.0      3.0      0.0      0.0     3.0
17410            21.0      4.0      0.0      0.0     3.0
17411            24.0      4.0      0.0      0.0     3.0
17412            23.0      4.0      0.0      0.0     3.0
17413            22.0      2.0      0.0      0.0     3.0

[17414 rows x 10 columns]>

In [18]:
lon_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_C        17414 non-null  float64
 3   temp_feels_like_C  17414 non-null  float64
 4   humidity           17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  float64
 7   holiday            17414 non-null  float64
 8   weekend            17414 non-null  float64
 9   season             17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [19]:
# Now that the values are in decimal form, I will convert the 'humidity_percent' column to strings with a percentage sign
# for better formatting.
lon_bikes.humidity = (lon_bikes.humidity * 100).apply(lambda x: f"{x:.0f}%")

In [20]:
lon_bikes.humidity

0         93%
1         93%
2         96%
3        100%
4         93%
         ...
17409     81%
17410     81%
17411     78%
17412     76%
17413     76%
Name: humidity, Length: 17414, dtype: object

In [21]:
# Creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

# Creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with Thunderstorm',
    '26.0':'Snowfall'
}

# Creating a weekend dictionary so that we can map the integers to the actual written values
weekend_dict = {
    '0.0':'No',
    '1.0':'Yes'
}

# Creating a holiday dictionary so that we can map the integers to the actual written values
holiday_dict = {
    '0.0':'No',
    '1.0':'Yes'
}


# Changing the seasons column data type to string.
lon_bikes.season = lon_bikes.season.astype('str')

# Mapping the values 0-3 to the actual written seasons
lon_bikes.season = lon_bikes.season.map(season_dict)

# Changing the weather column data type to string
lon_bikes.weather = lon_bikes.weather.astype('str')

# Changing the values to the actual written weather types
lon_bikes.weather = lon_bikes.weather.map(weather_dict)

# Changing the holiday column data type to string.
lon_bikes.weekend = lon_bikes.weekend.astype('str')

# Mapping the values 0-3 to the actual written seasons
lon_bikes.weekend = lon_bikes.weekend.map(weekend_dict)

# Changing the holiday column data type to string.
lon_bikes.holiday = lon_bikes.holiday.astype('str')

# Mapping the values 0-3 to the actual written seasons
lon_bikes.holiday = lon_bikes.holiday.map(holiday_dict)

In [22]:
# Checking our dataframe to see if the mappings have worked
lon_bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93%,6.0,Broken Clouds,No,Yes,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93%,5.0,Clear,No,Yes,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96%,0.0,Clear,No,Yes,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100%,0.0,Clear,No,Yes,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93%,6.5,Clear,No,Yes,Winter

## Analysing and Observing the Data

In [23]:
# Sort the entire DataFrame by the 'count' column in descending order
sorted_count_df = lon_bikes.sort_values(by='count', ascending=False)

# Display the sorted DataFrame
sorted_count_df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
4470,2015-07-09 17:00:00,7860,23.0,22.0,27%,11.0,Clear,No,No,Summer
4461,2015-07-09 08:00:00,7531,14.5,14.5,61%,19.0,Scattered Clouds,No,No,Summer
5138,2015-08-06 17:00:00,7208,22.5,22.5,55%,17.5,Scattered Clouds,No,No,Summer
4471,2015-07-09 18:00:00,6913,22.5,21.5,29%,13.0,Clear,No,No,Summer
5129,2015-08-06 08:00:00,6585,19.0,19.0,78%,12.0,Rain,No,No,Summer
5139,2015-08-06 18:00:00,6394,21.5,21.5,58%,20.0,Scattered Clouds,No,No,Summer
4469,2015-07-09 16:00:00,6033,23.0,22.0,26%,11.0,Clear,No,No,Summer
4446,2015-07-08 17:00:00,5560,20.0,20.0,53%,30.0,Scattered Clouds,No,No,Summer
14736,2016-09-14 08:00:00,5422,22.5,22.5,71%,14.0,Clear,No,No,Autumn
14746,2016-09-14 18:00:00,5345,26.0,26.0,48%,11.0,Clear,No,No,Autumn

This Analysis shows us that the majority of top 10 ride counts are made in the summer and the rides most popular months to go for a ride are between July and September. Interestingly, the hottest day out of all of these rides was in September.

In [24]:
# Filter the DataFrame to include only the rows with 'holiday' as 'Yes'
holiday_df = lon_bikes[lon_bikes.holiday == 'Yes']

# Sort the filtered DataFrame by the 'count' column in descending order
sorted_holiday_df = holiday_df.sort_values(by='count', ascending=False)

# Display the sorted DataFrame
sorted_holiday_df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
14395,2016-08-29 14:00:00,3100,22.0,22.0,53%,8.0,Scattered Clouds,Yes,No,Summer
14398,2016-08-29 17:00:00,3094,23.0,23.0,44%,15.0,Clear,Yes,No,Summer
14397,2016-08-29 16:00:00,3090,23.0,23.0,46%,5.5,Scattered Clouds,Yes,No,Summer
14396,2016-08-29 15:00:00,3075,22.5,22.5,50%,6.0,Scattered Clouds,Yes,No,Summer
2886,2015-05-04 14:00:00,3057,18.0,18.0,48%,19.5,Scattered Clouds,Yes,No,Spring
2215,2015-04-06 15:00:00,3000,13.5,13.5,70%,18.0,Broken Clouds,Yes,No,Spring
2214,2015-04-06 14:00:00,2993,14.0,14.0,67%,16.0,Scattered Clouds,Yes,No,Spring
2887,2015-05-04 15:00:00,2981,17.0,17.0,52%,14.0,Scattered Clouds,Yes,No,Spring
2885,2015-05-04 13:00:00,2980,18.0,18.0,44%,18.0,Scattered Clouds,Yes,No,Spring
2888,2015-05-04 16:00:00,2933,17.0,17.0,56%,14.0,Scattered Clouds,Yes,No,Spring

In [25]:
# Filter the DataFrame to include only the rows with 'holiday' as 'No'
holiday_df = lon_bikes[lon_bikes.holiday == 'No']

# Sort the filtered DataFrame by the 'count' column in descending order
sorted_holiday_df = holiday_df.sort_values(by='count', ascending=False)

# Display the sorted DataFrame
sorted_holiday_df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
4470,2015-07-09 17:00:00,7860,23.0,22.0,27%,11.0,Clear,No,No,Summer
4461,2015-07-09 08:00:00,7531,14.5,14.5,61%,19.0,Scattered Clouds,No,No,Summer
5138,2015-08-06 17:00:00,7208,22.5,22.5,55%,17.5,Scattered Clouds,No,No,Summer
4471,2015-07-09 18:00:00,6913,22.5,21.5,29%,13.0,Clear,No,No,Summer
5129,2015-08-06 08:00:00,6585,19.0,19.0,78%,12.0,Rain,No,No,Summer
5139,2015-08-06 18:00:00,6394,21.5,21.5,58%,20.0,Scattered Clouds,No,No,Summer
4469,2015-07-09 16:00:00,6033,23.0,22.0,26%,11.0,Clear,No,No,Summer
4446,2015-07-08 17:00:00,5560,20.0,20.0,53%,30.0,Scattered Clouds,No,No,Summer
14736,2016-09-14 08:00:00,5422,22.5,22.5,71%,14.0,Clear,No,No,Autumn
14746,2016-09-14 18:00:00,5345,26.0,26.0,48%,11.0,Clear,No,No,Autumn

The data shows us that there are more rides taken on non-holiday days than during during holidays. Interestingly, the majority of weather on the holidays was scattered clouds where the majority of the weather on the non-holidays is clear. This may influence rider behavior.

In [26]:
# Filter the DataFrame to include only the rows with 'is_weekend' as 'Yes'
weekend_df = lon_bikes[lon_bikes.weekend == 'Yes']

# Sort the filtered DataFrame by the 'count' column in descending order
sorted_weekend_df = weekend_df.sort_values(by='count', ascending=False)

# Display the sorted DataFrame
sorted_weekend_df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
11704,2016-05-08 13:00:00,4341,26.0,26.0,37%,24.0,Clear,No,Yes,Spring
13680,2016-07-30 14:00:00,4214,21.5,21.5,50%,12.0,Broken Clouds,No,Yes,Summer
11706,2016-05-08 15:00:00,4181,26.0,26.0,37%,19.5,Clear,No,Yes,Spring
5015,2015-08-01 14:00:00,4175,22.5,21.5,37%,18.0,Clear,No,Yes,Summer
13681,2016-07-30 15:00:00,4172,22.0,21.5,47%,11.0,Broken Clouds,No,Yes,Summer
14040,2016-08-14 16:00:00,4101,22.5,21.5,42%,7.5,Clear,No,Yes,Summer
13702,2016-07-31 13:00:00,4100,20.5,20.5,48%,17.0,Scattered Clouds,No,Yes,Summer
14039,2016-08-14 15:00:00,4097,21.5,21.0,45%,9.0,Clear,No,Yes,Summer
14042,2016-08-14 18:00:00,4097,22.0,21.0,44%,10.0,Clear,No,Yes,Summer
11705,2016-05-08 14:00:00,4063,26.0,26.0,37%,21.0,Clear,No,Yes,Spring

In [27]:
# Filter the DataFrame to include only the rows with 'is_weekend' as 'Yes'
weekend_df = lon_bikes[lon_bikes.weekend == 'No']

# Sort the filtered DataFrame by the 'count' column in descending order
sorted_weekend_df = weekend_df.sort_values(by='count', ascending=False)

# Display the sorted DataFrame
sorted_weekend_df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
4470,2015-07-09 17:00:00,7860,23.0,22.0,27%,11.0,Clear,No,No,Summer
4461,2015-07-09 08:00:00,7531,14.5,14.5,61%,19.0,Scattered Clouds,No,No,Summer
5138,2015-08-06 17:00:00,7208,22.5,22.5,55%,17.5,Scattered Clouds,No,No,Summer
4471,2015-07-09 18:00:00,6913,22.5,21.5,29%,13.0,Clear,No,No,Summer
5129,2015-08-06 08:00:00,6585,19.0,19.0,78%,12.0,Rain,No,No,Summer
5139,2015-08-06 18:00:00,6394,21.5,21.5,58%,20.0,Scattered Clouds,No,No,Summer
4469,2015-07-09 16:00:00,6033,23.0,22.0,26%,11.0,Clear,No,No,Summer
4446,2015-07-08 17:00:00,5560,20.0,20.0,53%,30.0,Scattered Clouds,No,No,Summer
14736,2016-09-14 08:00:00,5422,22.5,22.5,71%,14.0,Clear,No,No,Autumn
14746,2016-09-14 18:00:00,5345,26.0,26.0,48%,11.0,Clear,No,No,Autumn

The data shows that there are more rides taken during weekdays than during during weekends. The data also insinuates that weather does not have much of an effect on ride count because comparing the 5th row of each chart shows that there is more travel on a weekday, even in the rain with a difference of almost 1/3 more of the total ride count during the weekend.

## Blanket Statstics

Here we'll gather statistics on the data through statistic summarization.

In [28]:
# Convert  the 'humidity_percent' column back to numeric values from the formatted 
# string with a percentage sign for summarizers to gather these statistics.

lon_bikes.humidity = lon_bikes.humidity.str.rstrip('%').astype(float) / 100

In [29]:

# Generate a summary utilizing the pandas_sumamary package
# Convert the "time" column to a datetime type
lon_bikes['time'] = pd.to_datetime(lon_bikes['time'])

# Extract relevant date and time components
lon_bikes['year'] = lon_bikes['time'].dt.year
lon_bikes['month'] = lon_bikes['time'].dt.month
lon_bikes['day'] = lon_bikes['time'].dt.day
lon_bikes['hour'] = lon_bikes['time'].dt.hour

# Select numeric columns including the new date and time components
numeric_columns = lon_bikes.select_dtypes(include=['number'])

# Create a DataFrameSummary object
summary = DataFrameSummary(numeric_columns)

# Generate summary statistics
summary.summary()

,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,year,month,day,hour
count,17414.0,17414.0,17414.0,17414.0,17414.0,17414.0,17414.0,17414.0,17414.0
mean,1143.101642,12.468091,11.520836,0.723251,15.913063,2015.50781,6.514643,15.751981,11.513265
std,1085.108068,5.571818,6.615145,0.143108,7.89457,0.508157,3.452509,8.793704,6.915893
min,0.0,-1.5,-6.0,0.2,0.0,2015.0,1.0,1.0,0.0
25%,257.0,8.0,6.0,0.63,10.0,2015.0,4.0,8.0,6.0
50%,844.0,12.5,12.5,0.74,15.0,2016.0,7.0,16.0,12.0
75%,1671.75,16.0,16.0,0.83,20.5,2016.0,10.0,23.0,18.0
max,7860.0,34.0,34.0,1.0,56.5,2017.0,12.0,31.0,23.0
counts,17414,17414,17414,17414,17414,17414,17414,17414,17414
uniques,3781,73,82,75,103,3,12,31,24
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

## Preparing for Export

Now, prepare the dataframe for export to be used in Tableau.

In [30]:
# Drop the extra columns created for year, month, day, and hour
lon_bikes = lon_bikes.drop(['year', 'month', 'day', 'hour'], axis=1)

# Now, we have the DataFrame with the original column names

In [31]:
lon_bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.93,6.0,Broken Clouds,No,Yes,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.93,5.0,Clear,No,Yes,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.96,0.0,Clear,No,Yes,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.00,0.0,Clear,No,Yes,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.93,6.5,Clear,No,Yes,Winter

In [32]:
# Ex[porting the final dataframe to an excel file to use in Tableau
lon_bikes.to_excel('london_bikes_revised.xlsx', sheet_name='Data')

## Insights
* The data can help to inform stocking and inventory needs depending on time of year and time of week.